
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Arimo&family=Lobster&display=swap');
@import 'variables';
@import 'mixin';

* { 
    margin: 0;
    padding: 0;
}

body {
    margin: 0 5%;
}

#glavni {
    text-decoration: none;
    box-sizing: border-box;
    border: 1px solid black;
    

}

header {
    background-color: rgb(27, 26, 26);
    padding: 20px 0 20px 20px;
    background-image: url(../header.jpg);
    object-fit: contain;
    background-repeat: no-repeat;
    background-position: right;
}

header h1 {
    color: $bojaSlova;
    font-family: $font2;
    letter-spacing: 2px;

}

header p {
    color: rgb(139, 139, 139);
    font-family: $font;
}

nav {
   
    background-color: $bojaPozadine;
    padding: 10px;
    display: flex;
    justify-content: end;
}

nav a {
    
    text-decoration: none;
    font-family: $font;
    margin: 10px;
    color: $bojaSlova;
        
}


div #kontejner {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

div #kontejner #link {
    width: 30%;
   @include flexColumn;
    
}

div #kontejner #link a {

    text-decoration: none;
    font-family: $font;
}

div #kontejner #tekst {
    width: 70%;
    @include flexColumn;
    justify-content: end;
}

div #kontejner #tekst h1 {
    text-align: right;
    margin-bottom: 10px;
    font-family: $font2;
    letter-spacing: 1px;
}

div #kontejner #tekst p {
    text-align: justify;
    font-family: $font;

}

footer {
    border: 1px solid black;
    border-top: 0;
    padding: 7px;
    text-align: center;
    font-family: $font;
}